html{
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    padding-bottom: 15px;
}

h2{
    padding-left: 10px;
    padding-right: 10px;
}

p{
    padding-left: 15px;
    padding-right: 15px;
}